html {
   font-size: 62.5%;
}

body {
   background: #dfdfdf;
   color: #000000;
   overflow: hidden;
}

p.notify {
   background: #cc33cc;
   margin: 0;
   padding: 2rem;
   text-transform: uppercase;
   -webkit-app-region: drag;
}

.row2 {
   width: 100%;
   display: grid;
   grid-template-columns: auto auto;
   padding: 2rem;
}

input {
   padding: 1.2rem;
}

.closeBtn {
   cursor: pointer;
   padding: 2rem;
   text-decoration: underline;
}